
li{
float:right;
display:block;
}
a{
width:100px;
}
.google
{
position:relative;
top:10px;
left:400px;

}
.searchf
{
position:absolute;
top:300px;
}


#searchbox{
width:500px;
}
#gsearch
{
width:200px;
}

.footer-left
{

position:fixed;
right:0px;
bottom:0px;
}
.footer-right
{

position:fixed;
left:0px;
bottom:0px;
}